* {
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}

body {
    font : 73% "Poppins", Arial,  Helvetica, Tahoma, sans-serif;
    background : #EDF3F4;
    color : #222;
}

/*      HEADER      */
header {
    position: fixed;
    width: 100%;
    padding: 16px 48px;
    top: 0;
    display: flex;
    background-color: #357A9F;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*      FOOTER      */
footer {
    color: #EDF2F4;
    width: 100%;
    padding: 16px;
    text-align: center;
    border-top: 10px solid #357ABF;
    background: #357A9F;
}

/*      MAIN       */
main {
    padding-top: 112px;
    padding-bottom: 16px;
    padding-left: 48px;
    padding-right: 48px;
}

/*      H-Themes     */

h1,.h1 {
    font-size: 400%;
}

h2,.h2 {
    font-size: 285.7%;
}

h3,.h3 {
    font-size: 228.5%;
}


h4,.h4 {
    font-size: 171.4%
}

h5,.h5 {
    font-size: 150%
}

h6,.h6 {
    font-size: 100%;
}

p, .p {
    font-size: small;
}

/*      NAVBAR      */
.text_logo {
    color: #EDF2F4;
    text-decoration: none;
    cursor: pointer;
}

.nav_list {
    list-style: none;
}

.nav_list li, .nav_list a {
    text-decoration: none;
    font-weight: 600;
}

.nav_list li {
    display: inline-block;
    padding: 0px 24px;
}

.nav_list li a {
    color: #EDF2F4;
    transition: all 0.3s ease 0s;
}


.nav_list li a:hover{
    color: #8D99AE;
}

/*      TITLES      */

.centered_title {
    text-align: center;
    font-weight: bold;
}

.title {
    font-weight: bold;
}

/*      BLUE TEXT       */
.blue_text {
    color: #357ABF;
}

/*      FLEX CONTAINERS     */
.flex_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex_container img {
    flex: 1;
    max-width: 50%;
}

.login_form {
    padding: 0 48px;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: medium;
}

.login_form p {
    font-size: medium;
}

.login_form input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;;
    border: 1px solid gray;
    border-radius: 8px;
    outline: none;
}

.login_form input[type="submit"] {
    margin: 16px 0;
    transition: all 0.3s ease 0s;
    border: none;
    background-color: #357ABF;
    color: #EDF2F4;
    font-size: medium;

}

.login_form input[type="submit"]:hover {
    background-color: #256AAF;
}

.login_form a{
    text-decoration: none;
    color: #357ABF;
}

.login_form a:hover{
    color: #256AAF;
}

/*      INTRODUCTION        */
.introduction {
    align-self: center;
}

.introduction_container {
    display: flex;
    flex-direction: row;
}

.introduction_container img{
    max-width: 50%;
    flex: 1;
}

.introduction_container p{
    flex: 2;
}

/*      TEXT + TEXT_BUTTON       */

.inline_text_button {
    display: flex;
    flex-direction: row;
}

.blue_button_container {
    display: flex;
    justify-content: flex-end;
}


/*      ABOUT US SECTION        */
.about_us_section {
    flex: 1.5;
    padding-right: 24px;
}

.about_us_section p {
    text-align: justify;
    text-justify: inter-word;
}

/*      POSTS       */
.posts {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.posts_header {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*      POST        */
.post img {
    width: auto;
    border-bottom: solid 2px;
}

.post {
    display: flex;
    padding: 8px;
    border-style: solid;
    border-width: 2px;
    border-radius: 16px;
    flex-direction: column;
}

.post .id_post {
    font-weight: 700;
}

.post .product_name {
    font-weight: 500;
}

.post .post_date_label {

}

.post .product_description {

}

.post .asked_product {
    font-weight: 500;
}

.post .post_buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.post .post_buttons button {
    margin: 0 4px;
}

.post .red_outline_button {
    border-radius: 8px;
    padding: 8px;
    transition: all 0.3s ease 0s;
    border-color: #E3242B;
    color: #E3242B;
}

.post .red_outline_button:hover {
    cursor: pointer;
    background: #E3242B;
    color: #EDF2F4;
}

.post .red_button {
    border: hidden;
    border-radius: 8px;
    padding: 8px;
    transition: all 0.3s ease 0s;
    background: #E3242B;
    color: #EDF2F4;
    
}

.post .red_button:hover {
    cursor: pointer;
    background: #DD242B;
}


/*      OFFERS      */
.offers {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.offers_header {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*      OFFER       */
.offer img {
    width: auto;
    border-bottom: solid 2px;
}

.offer {
    display: flex;
    padding: 8px;
    border-style: solid;
    border-width: 2px;
    border-radius: 16px;
    flex-direction: column;
}